@media screen and (min-width:769px) {
 .gb-offers-carousel-head {
  background-color:#fff;
  display:inline-block;
  height:100%;
  text-align:center;
  vertical-align:middle;
  position:relative;
  left:-11px;
  top:160px;
  bottom:0
 }
 .gb-offers-carousel-head .gb-offers-carousel-head-content {
  color:#000;
  display:inline-block;
  vertical-align:middle;
  top:50%;
  transform:translateY(-58%);
  width:240px;
  position:absolute;
  left:0;
  z-index: 2;
 }
 .gb-offers-carousel-head h3 {
  font-size:22px;
  font-weight:700;
  line-height:44px;
 }
 .gb-offers-carousel-head h3 strong {
  line-height:40px;
  display:block;
  display:-webkit-box;
  max-width:100%;
  max-height:80px;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size:36px;
  text-transform:uppercase;
  padding:0 15px;
 }
 .gb-offers-carousel-clock {
  margin:10px 0px;
 }
 .gb-offers-carousel-clock div:first-of-type {
  margin-left:0
 }
 .gb-offers-carousel-clock div {
  display:inline-block;
  margin-left:10px;
  position:relative;
  text-align:center;
  width:45px
 }
 #time-mov2 {
  display:0;
  margin-left:0;
  position:0;
  text-align:0;
  width:0
 }
 .gb-offers-carousel-clock div em {
  font-size:34px;
  color:#01f603;
  font-weight:700;
  display:block;
  margin-bottom:3px;
  font-style:initial
 }
 .gb-offers-carousel-clock div span {
  display:block;
  font-size:12px;
  color:#9E9E9E;
  text-transform:uppercase
 }
 .gb-offers-carousel .gb-offers-carousel-head .gb-button {
  margin-top:10px
 }
 .gb-button.primary {
  -webkit-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  -khtml-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  -moz-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  -ms-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  -o-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  font-size:14px;
  font-weight:600;
  white-space:nowrap;
  color:#FFF;
  background-color:#0084E0;
  height:40px;
  line-height:40px;
  border-color:transparent transparent #016AB3;
  border-style:solid;
  border-width:1px 1px 2px
 }
 .gb-button.primary {
  -webkit-transition:background-color 0.2s ease-out,border-color 0.2s ease-out;
  -khtml-transition:background-color 0.2s ease-out,border-color 0.2s ease-out;
  -moz-transition:background-color 0.2s ease-out,border-color 0.2s ease-out;
  -ms-transition:background-color 0.2s ease-out,border-color 0.2s ease-out;
  -o-transition:background-color 0.2s ease-out,border-color 0.2s ease-out;
  transition:background-color 0.2s ease-out,border-color 0.2s ease-out;
  font-size:14px;
  font-weight:600;
  white-space:nowrap;
  color:#fff;
  background-color:#0084E0;
  height:40px;
  line-height:40px;
  border-color:transparent transparent #016AB3;
  border-style:solid;
  border-width:1px 1px 2px
 }
 .gb-button {
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  border-radius:3px;
  -webkit-box-sizing:border-box;
  -khtml-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block;
  padding:0 25px;
  border:1px solid transparent;
  cursor:pointer;
  text-align:center;
  outline:none;
  position:relative;
  text-transform:uppercase;
  -webkit-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  -khtml-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  -moz-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  -ms-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  -o-transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
  font-size:14px;
  font-weight:600;
  white-space:nowrap;
  color:#333;
  background-color:#E2E2E2;
  height:40px;
  line-height:40px;
  border-color:transparent transparent #9E9E9E;
  border-style:solid;
  border-width:1px 1px 2px
 }
 .gb-offers-carousel .gb-offers-carousel-head {
  text-align:center
 }
 .owl-stage-outer {
  margin-left:240px;
 }
 .row.owl-carousel.owl-theme.owl-loaded.owl-drag {
  border:1px solid #E2E2E2;
  max-width:1250px;
  margin-right:auto;
  margin-left:auto;
  background: white;
 }
  div.container#container {
  margin-top:2%;
  margin-bottom:1%;
  max-width: 1250px;
 }
  .owl-nav {
    display: none;
  }
  section#ofertas_home div.owl-carousel .col-md-prod .product,
section#novedades_home div.owl-carousel .col-md-prod .product {
  border: 0px;
}
   .product:hover {
  border:1px solid #E2E2E2;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.33)
 }
 div.product:hover .image img {
  -webkit-transform:scale(1.15);
  transform:scale(1.15);
  opacity:50%
 }
}
@media (max-width:768px) {
 .gb-offers-carousel-head-content {
  text-align:center;
  margin-bottom:9px;
  margin-top:5px;
  line-height:20px
 }
 .gb-offers-carousel-clock p {
  font-size:24px;
  margin-top:4px;
 }
 .gb-offers-carousel-head-content h3 {
  font-size:20px
 }
 #time-mov {
  display:inline-flex;
  min-width:38px;
  margin-top:12px;
 }
 #time-mov2 {
  display:inline-flex;
  min-width:38px;
  margin-top:6px;
  position:absolute;
  left:5%;
 }
 .gb-offers-carousel-clock span {
  margin-top:8px;
  margin-left:2px;
  margin-right:2px;
  color:white
 }
 .gb-offers-carousel-clock {
  margin-top:10px;
  text-align:end;
  background:black;
  border-radius:13px;
  height: 55px;
 }
 #segundos {
  margin-right:10px
 }
 #novedades_home div.container {
  border:1px solid #E2E2E2;
  margin-right:auto;
  margin-left:auto;
  background: white;
 }
}
@media (max-width:1134px) {
 .dropdown-menu .sub-menu .row.subitem {
  max-width:790px;
  font-size:12px
 }
 #menu1 {
  min-height:868px
 }
 #menu1 a {
  font-size:12px
 }
 .gb-category-grid-item.hover-box {
  background-size:118%;
  max-height:255px
 }
  .gb-offers-carousel-clock div em {
	font-size: 34px;
	color: #01f603;
	font-weight: 700;
	display: block;
	margin-bottom: 3px;
	font-style: initial;
}
  .owl-nav, .owl-dot{
    display: none
  }
    section#ofertas_home div.owl-carousel .col-md-prod .product,
section#novedades_home div.owl-carousel .col-md-prod .product {
  border: 0px;
}
   .product:hover {
  border:1px solid #E2E2E2;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.33)
 }
 div.product:hover .image img {
  -webkit-transform:scale(1.15);
  transform:scale(1.15);
  opacity:50%
 }
}